# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.png

# Ignore backup files
*~
*.cfgc

# Ignore txt files
*.txt
*.xml
*.csv
*.cbp
*.asv

# Filepaths
CMakeFiles/
bin/
catkin/
catkin_generated/
devel/
gtest/
CMakeLists.txt.user
Makefile
cmake_install.cmake
